{% extends "app/index.html" %}
{% load static %}
{% block viewContent %}
<style type="text/css">
    .tg  {border:none;border-collapse:collapse;border-spacing:0;}
    .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:1px 1px;
    word-break:normal;}
    .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:1px 1px;word-break:normal;}
    .tg .tg-izq{text-align:right;vertical-align:top}
    .tg .tg-der{text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
    </style>
    <h1 class="fst-italic lh-1 mb-4">Clientes</h1>
        <p class="mb-1">Lista de clientes
            <div class="mb-5">Ingresar un <a href="{% url "DriverForm" %}">nuevo cliente</a></div>
        </p>
        
        <div class="tg-wrap"><table class="tg">
            <tbody>
            {% for conductor in conductores %}
            <tr class="tr-1">
                <td class="tg-izq">
                    <div class="fw-bolder">Nombre:</div>
                </td>
                <td class="tg-der">
                    <div class="fw-bolder">{{ conductor.full_name }}</div>
                </td>
            </tr>
            <tr class="tr-1">
                <td class="tg-izq">
                    <div class="fw-bolder">Día de nacimiento:</div>
                </td>
                <td class="tg-der">
                    <div class="fw-bolder">{{ conductor.day_of_birth }}</div>
                </td>
            </tr>
            <tr class="tr-1">
                <td class="tg-izq">
                    <div class="fw-bolder">Email:</div>
                </td>
                <td class="tg-der">
                    <div class="fw-bolder"><a href="mailto:{{ conductor.email }}">{{ conductor.email }}</a></div>
                </td>
            </tr>
            <tr class="tr-1">
                <td class="tg-izq">
                    <div class="fw-bolder">Tiene licencia?:</div>
                </td>
                <td class="tg-der">
                    {% if conductor.has_license %}
                    <div class="fw-bolder">Si</div>
                    {% else %}
                    <div class="fw-bolder">No</div>
                    {% endif %}         
                </td>
            </tr>
            <tr class="tr-1"><td class="tg-0lax">&nbsp;</td><td class="tg-0lax">&nbsp;</td></tr>
            {% endfor %}
            </tbody>
            </table></div>
{% endblock %}