{% extends "app/index.html" %}
{% load static %}
{% block viewContent %}

<h1 class="fst-italic lh-1 mb-4">MVT Django</h1>
                    <p class="mb-5">Prueba de MVT</p>
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row input-group-newsletter">
                            <div class="col"><input class="form-control" id="email" type="email" placeholder="Formulario de prueba" aria-label="Formulario de prueba" data-sb-validations="required,email" /></div>
                            <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Botón de prueba</button></div>
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="email:required">Se requiere un email</div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="email:email">El email no es válido</div>
                        <!-- Submit success message-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3 mt-2">
                                <div class="fw-bolder">Formulario enviado exitosamente!</div>
                                {% comment %} To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a> {% endcomment %}
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error al enviar el formulario!</div></div>
                    </form>

{% endblock %}